.App {
 
  text-align: center;
  height: 100vh;
  font-size: calc(10px + 2vmin);
  color: lightgreen;
}
.Header {
  
  top: 0px;
  height: calc(9vh - 2px);
  background-color: rgb(229,5,3);
  width: 100%;
  z-index: 1; 
  border-bottom: 2px solid black;
}
.App-Body {
  
  top: 9vh;
  min-height:84vh;
 
  width: 100%;
  color:black;
  z-index:-1;
}
.App-Footer {
  
  height: 7vh;
    
    background-color: rgb(229,5,3);
    width: 100%;
    z-index:1;
}