.PageContainer{
    color: black;
    background-color:salmon;
    border: 2px solid rgb(229,5,3);
   min-height: calc(91vh - 4px);  
}
.PageTitle{
    font-size: 1.5em;
    font-weight: bold;
    background-color:rgb(253, 247, 69);
    padding: 5px;
}
.BodyIntro{ 
    padding:10px;
}
.PageItem{
    background-color:rgba(255,255,255,0.4);
    border: 2px solid black;
    border-radius: 10px;
    margin:10px;
    padding: 10px;
}
.Itemheader{
    font-weight:bold;
}