.Home {
  position: fixed;
  height: 100%;
  width: 100vw;
}
.Home-Background {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
}
.CartLogo img{
  position: fixed;
  width:10vw;
  right: 2vw;
  bottom: 9vh; 
}
.Home img {
  position: fixed;
  animation: logo-popin-out 5s forwards;
}
.position {
  position: fixed;
  top: 70%;
  width: 50%;
  left: 25%;
  height: 60px;
}
.Countdown {
  display: fixed;
  
  color: rgb(229, 5, 3);
  font-weight: bold;
  font-size: 14pt;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  z-index: 1;
}
.Countdown label {
  font-size: 14pt;
  border-bottom: 2px solid white;
}
.Home button {
  display: fixed;
  border-radius: 20px;
  font-size: 18pt;
}
@keyframes logo-popin-out {
  from {
    top: 30%;
    left:50%;
    transform: translate(-50%);
    width: 15vw;   
  }
  40% {
      top:50%;
      left: 50%;
      width:60vw;
      transform: translate(-50%, -50%)
  }
  to {
    top: 10%;
    left: 2%;
    width: 15vw;
  }
}